name: Deploy Fluxnova bpm release parent

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ci-default-branch-{0}-{1}', github.sha, github.workflow) ||
    format('ci-pr-{0}-{1}', github.ref, github.workflow) }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Deploy
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup

      - name: Set version
        # TODO - replace hardcoded 0.0.1-SNAPSHOT with something dynamic; maybe use auto increment feature?
        run: mvn versions:set -DnewVersion=0.0.1-SNAPSHOT -DgenerateBackupPoms=false -s ./settings.xml

      - name: Deploy
        run: mvn -B -e clean deploy -s ./settings.xml
